.Loto {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.Loto_btn {
    font-size: 30px;
    width: 200px;
    height: 50px;
}
.Loto_list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Loto_list_item {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 68, 255);
}